<link rel="stylesheet" href="core/client/css/core.header.css">
<style>
/*nav .container .collapse #nr .btn-group ul li a:hover {
    background-color: red;
    color: #FFC0CB;
}*/
</style>
<div ng-controller="coreHeaderController">
	<nav class="navbar lightgray navbar-fixed-top">
		<div class="container">
			<div class="navbar-header" id="nh">
				<a class="navbar-brand" ui-sref="Home" class="btn btn-link">
					<img alt="Brand" src="core/client/img/CIA_Logo_Final.png" width="50" height="37">
					<!-- CIA -->
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav" id="nl">
					<li><a ui-sref="About" class="tb">About</a></li>
					<li><a ui-sref="Product" class="tb">Products</a></li>
					<li><a ui-sref="Industry" class="tb">Industries</a></li>
					<li><a ui-sref="Blog" class="tb">Blog</a></li>
					<li><a ui-sref="News" class="tb">News</a></li>
					<li><a ui-sref="Contact" class="tb">Contact</a></li>
				</ul>

				<div class="nav navbar-nav navbar-right" id="nr">
					<form class="navbar-form navbar-left">
						<div class="form-group">
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Search...">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
						      </span>
						    </div><!-- /input-group -->							
						</div>
					</form>

					<button ng-hide="currentUser" ui-sref="SignIn" class="btn btn-primary navbar-btn">Sign In</button>
					<div class="btn-group" ng-show="currentUser"  style="padding-top: 1px; padding-bottom: 1px;">
					  <button type="button" style="padding: 0; border:none; background: none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  <!-- hi, {{currentUser.local.firstName}}  -->
						  <image ria-haspopup="true" aria-expanded="false" src="{{currentUser.local.dpURL}}" class="avatar img-circle" alt="avatar" style="width:7vh;height:7vh; background: dimgray">
						  <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a ui-sref="Profile"><span class="glyphicon glyphicon-user" style="padding-right: 2vh"></span>Profile</a></li>
					    <li role="separator" class="divider"></li>
					    <li ng-show="currentUser.local.userType == 'admin'"><a ui-sref="Admin"><span class="glyphicon glyphicon-king" style="padding-right: 2vh"></span>Admin Management</a></li>
					    <li ng-show="currentUser.local.userType == 'admin'" role="separator" class="divider"></li>
					    <li><a ui-sref="Home" ng-click="signOut()"><span class="glyphicon glyphicon-log-out" style="padding-right: 2vh"></span>Log Out</a></li>
					  </ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>